@charset "utf-8";

/* -------------------- 全体の設定 -------------------- */
body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 4em; 
    text-align: center;
}


/* -------------------- 数値カウントの設定 -------------------- */
#count {
   margin: 0;
   font-weight: bold;
   color: #888;
 }
 
 
 /* --------------------入力欄 -------------------- */
#wrap {
 
   padding: 20px 10px;
   background-color: #1da1f3;
   font-weight: bold;
   color: #fff;
}
 
 
#quetions{
  background-color: yellow;
  display: grid;
}
 
#text_japanese {
   /*margin-top: 20px;*/
   /*padding: 20px 10px;*/
   font-size: 40px;
   background-color: #1da1f3;
   font-weight: bold;
   color: #fff;
}
 
 
#text_roma {
   /*margin-top: 20px;*/
   /*padding: 20px 10px;*/
   font-size: 30px;
   background-color: #1da1f3;
   font-weight: bold;
   color: #fff;
}


/* --------------------STARTボタンの処理 -------------------- */
#btn-social-long-button {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-button .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-button span {
  display:inline-block;
  transition: .5s;
}


.btn-social-long-button:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

    
 
 /* --------------------入力の処理 -------------------- */
 /* spanには問題分が入っている為、toransitionでアニメーションを付け*/
 /* 上記の設定だと300ms(0.3秒)の時間を掛けて文字サイズ・色を変化させます）*/
 span {
    transition: all 300ms 0s ease;
}


/*クリックした時、文字色を背景と同じにする。*/
.add-color {
    font-size: 0.5em;
    color: #666;
}